Investigation: Other iCalendar libraries in the ecosystem

This issue is to track other Elixir iCalendar libraries to gain an overview of how we might share efforts / improve.

## Recurrence Rules
* [cocktail](https://hex.pm/packages/cocktail)
  * "Cocktail is a date/time recurrence library for Elixir based on iCalendar events. It can generate a stream of dates/times based on a set of repeat rules."
  * https://hexdocs.pm/cocktail/
  * Last release [0.10.3](https://hex.pm/packages/cocktail/0.10.3) Jan 03, 2024
  * Recent downloads: ~12.4k
  * NOTES: very simple recurrence rule API, include a basic iCalendar parser (!)
* [ex_cycle](https://hex.pm/packages/ex_cycle)
  * "ExCycle is a powerful library to generate datetimes following RRules from iCalendar."
  *  https://hexdocs.pm/ex_cycle/readme.html
  *  Last release [0.8.2](https://hex.pm/packages/ex_cycle/0.8.2) May 16, 2025
  *  Recent downloads: ~3.3k
  *  NOTES: Nice API for adding rules 
* [rrulex](https://hex.pm/packages/rrulex)
  * "RRulex is an Elixir package that parses an RRULE from the iCalendar RFC-2445 and expands into a usable struct."
  * https://hexdocs.pm/rrulex/
  * Last release [0.1.0](https://hex.pm/packages/rrulex/0.1.0) Aug 11, 2022
  * Recent download ~40
* [excal](https://hex.pm/packages/excal)
  * "NIF bindings to libical providing icalendar rrule expansion."
  *  https://hexdocs.pm/excal/
  * Last release [0.3.2](https://hex.pm/packages/excal/0.3.2) Jun 16, 2019
  * Recent downloads ~300
  * NOTES: another (unmaintained) rrule library, but with NIFs!

## Timezones

## Unique/Unusual Approaches
* [naiveical](https://hex.pm/packages/naiveical)
  * "Library to create and edit iCalendar files without parsing."
  * https://hexdocs.pm/naiveical/
  * Last release [1.0.0](https://hex.pm/packages/naiveical/1.0.0) Nov 26, 2025
  * Recent downloads: ~1.3k
  * NOTES: awkward to pull data out of existing files (acknowledged in the documentation), but has the benefit of not doing a deserialize/serialize roundtrip, preserving original file content as much as possible
 
## Parsers
* [exical](https://hex.pm/packages/exical)
  * "ICalandar parser"
  * https://hexdocs.pm/exical/
  * Last release [0.1.0](https://hex.pm/packages/exical/0.1.0) Nov 29, 2022
  * Recent downloads: ~2.4k
  * NOTES: Sadly not maintained as the parser is reasonably nice and produces typed structs of virtually all supported iCalendar types. No writing capability, however. Not to be confused with `ex_ical` (note the underscore).
* [ICalendar](https://hex.pm/packages/icalendar)
  * "An ICalendar file generator"
  *  https://hexdocs.pm/icalendar/
  * Last release [1.1.3](https://hex.pm/packages/icalendar/1.1.3) Feb 10, 2026
  * Recent downloads: ~18k
  * NOTES: the parser is relatively fast, but extremely broken as per standards. It is noted to be in maintenance-mode on the github repo, but given the lack of activity it is more abandoned than maintained. The last release occurred only because this repo was started and a request was made to take maintainership of the package oh hex.pm due to an outstanding (and ignored, despite there being a long-standing PR) security problem. :/
* [ex_ical](https://hex.pm/packages/ex_ical)
  * "ICalendar parser."
  * https://hexdocs.pm/ex_ical/
  * Last release [0.2.0](https://hex.pm/packages/ex_ical/0.2.0) Jun 29, 2018
  * Recent downloads: ~2.4k
  * NOTES: very basic parser, only supports events, doesn't work with a lot of common data (e.g. Olson code timezones). Seems to have a focus on recurrence as well? Not to be confused with `exical` (note the lack of underscore).
* [icalex](https://hexdocs.pm/icalex/ICalex.html#content)
  * Basic parser , unmaintained
* [magical](https://hex.pm/packages/magical)
  * "An RFC 5545 compatible iCalendar parser"
  * https://hexdocs.pm/magical/
  * Last release [1.0.1](https://hex.pm/packages/magical/1.0.1) Jun 21, 2024
  * NOTES: uses nimble_parsec, which is nice. It only supports Events, however, and, despite claiming to be quite robust it fails on common ics files. :/
* [vobject](https://hexdocs.pm/vobject)
  * "Parse and manipulate iCalendar (RFC5545) and vCard objects (RFC6350)"
  * https://hexdocs.pm/vobject/ 
  *  Last release [0.5.0](https://hex.pm/packages/vobject/0.5.0) Apr 15, 2018
  * Recent downloads ~570
  * NOTES: unmaintained. Basic, hand-rolled parser. Parses all types, but does not really parse things semantically.  Does not seem to handle escaping, comma--separate lists, etc. properly